
a:active {
    opacity: 0.7;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.full-screen {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;
}